* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 10px 100px;
  background-color: rgb(236, 154, 72);
  border-radius: 15px;
  padding: 0;
}
.apply-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  gap: 5px;
}
.form-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.form-content input,
select {
  padding: 5px;
}
.form-content label {
  font-size: 18px;
}
.form-apply-btn input {
  background-color: red;
  color: white;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 20px;
  border: 0px solid black;
  transition: ease-in-out 0.3s;
  box-shadow: 1px 1px 1px 1px;
}
.form-apply-btn input:hover {
  background-color: green;
  transition: ease-in-out 0.3s;
}
footer {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
}
