* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0px 100px;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
.apply-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  gap: 5px;
}
.form-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.form-content input,
select {
  padding: 5px;
}
.form-content label {
  font-size: 2.4vh;
}

.form-apply-btn input {
  background-color: red;
  color: white;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 3vh;
  border-radius: 20px;
  border: 0px solid black;
  transition: ease-in-out 0.3s;
  box-shadow: 1px 1px 1px 1px;
}
.form-apply-btn input:hover {
  background-color: green;
  transition: ease-in-out 0.3s;
}
footer {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0px;
  font-size: 3vh;
}
@media (max-width: 450px) {
  .container {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
  }
  .apply-box {
    margin-top: 20px;
  }
  .apply-box label {
    font-size: 3.2vh;
  }
  .apply-box h1 {
    font-size: 4vh;
  }
  footer {
    padding: 8px;
  }
}
