* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! 1.First section of index.html*/
.first-section {
  display: flex;
  position: relative;
  justify-content: center;
}
.first-section img {
  width: 100%;
  height: 100vh;
}
.first-section-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.first-section-text h2 {
  font-size: 9vh;
}
.first-section-name {
  font-size: 35px;
  color: red;
}
/*!Second section of index.html */
.second-section {
  background-color: black;
  color: rgb(255, 252, 252);
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
}
/*! Third Section of index.html */
.third-section {
  padding: 40px;
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
}
.third-section p {
  line-height: 1.2;
  font-size: 2.6vh;
}
.third-section h1 {
  font-size: 2vh;
}
.third-section-content {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.third-section-content img {
  width: 250px;
}
.third-section-content:hover {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  transform: scale(1.02);
}
.third-section-title img {
  height: 50px;
  width: 50px;
}
.third-section-title {
  gap: 8px;
  margin-bottom: 10px;
}
.third-section-title h1 {
  font-size: 30px;
  margin-top: 5px;
}
/*! 4. Fourth Section*/
.fourth-section {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 40px;
}
/*!fourth section content 1*/
.fourth-section-content-1 {
  border-radius: 20px;
}

.fourth-section-content-1 h2 {
  background-color: rgb(179, 2, 2);
  border-radius: 20px 0px 0px 0px;
  color: white;
  font-size: 5vh;
  padding: 5px 0px;
}
.fourth-section-content-1 p {
  padding: 10px 70px;
  background-color: rgb(160, 224, 169);
}
/*?fourth section content 2*/
.fourth-section-content-2 {
  border-radius: 20px;
}
.fourth-section-content-2 h2 {
  background-color: rgb(9, 115, 25);
  border-radius: 0px 20px 0px 0px;
  color: white;
  font-size: 5vh;
  padding: 5px 0px;
}
.fourth-section-content-2 p {
  padding: 10px 70px;
  background-color: rgb(215, 145, 145);
}
/*Footer Section*/
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 0px;
  font-size: 20px;
}
/*?For Mobile View*/
@media (max-width: 700px) {
  * {
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .first-section {
    width: 400px;
    height: 500px;
    margin: 0;
  }
  .first-section img {
    width: 400px;
    height: 500px;
  }
  .first-section-text {
    display: flex;
    justify-content: flex-start;
    top: 0;
  }
  .first-section-text h1 {
    font-size: 4vh;
  }
  .first-section-name {
    font-size: 3vh;
    color: red;
  }
  .first-section-text h2 {
    font-size: 5vh;
  }
  /*! 2.second section*/
  .second-section h1 {
    font-size: 2vh;
    width: auto;
  }
  /*! 3.Third Section */
  .third-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 350px;
  }
  .third-section-content {
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 330px;
    text-align: center;
  }
  .third-section-content p {
    width: auto;
    padding: 20px;
  }

  .third-section-content img {
    width: 250px;
    border-radius: 0px;
  }
  .third-section-title {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 310px;
  }
  .third-section-title h1 {
    font-size: 4vh;
    width: 310px;
  }
  .third-section-title img {
    width: 50px;
  }

  /*! 4.Fourth section*/
  .fourth-section {
    display: flex;
    flex-direction: column;
  }
  .fourth-section-content-1 h2,
  .fourth-section-content-2 {
    border-radius: 0px;
  }
}
