* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1 {
  background-color: orange;
}
.box2 {
  background-color: green;
}
.box3 {
  background-color: aqua;
  grid-column: 1/3;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
